.loginPage{
    display: flex;
    width: 100%;
    background-image: url(/static/media/backgroundpicture.959c450b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    

}
.login-section {
    color: white;
    background-color: var(--blackish);
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    padding: 50px 80px;
    max-width: 500px;
}
.login-section h1{
    font-size: 36px;
    margin: 0;
    padding:10px 0;
}
.LoginForm{
    display: flex;
    flex-direction: column;
}
.LoginForm label{
    font-size: 22px;
    padding:22px 0
}
.LoginForm input{
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px
}

.submit-login-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:40px
}
.login-section button {
    padding: 0;
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    background-color:rgba(0,0,0,0);
    border: none;
    color:var(--white);
}
.login-section  a{
    text-decoration: underline;
    color:white;
    font-size:22px;
    font-weight: 600;
}

.login-section a:hover , .login-section button:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.502)
}

@media only screen and (max-width: 380px) {
   .login-section{
       padding:50px 20px;
   }
  }
@media only screen and (max-width: 500px) {
    .login-section{
       padding:50px 30px;
   }
  }