.homePage-container{
    display: flex;
    width: 100%;
    background-image: url('backgroundpicture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
}
.title{
    color: white;
    background-color:var(--blackish);
    display:flex;
    margin:auto;
    flex-direction: column;
    align-content:center;
    padding: 50px 80px;
    max-width: 600px;
    
}
.title h1{
    font-size:32px;
    margin:0;
}

.title p {
    margin:0;
    font-size: 22px;
    line-height: 1.4;
}
.homePagebutton-container{
    display: flex;
    justify-content: space-between
}
.homePage-button{
    background:rgba(0, 0, 0, 0.0);
    border:none;
    margin:0;
    font-size:26px;
    padding:7px 0;
   
}
.homePage-button a {
    text-decoration: underline;
    color:var(--white);
}
.link-button{
    background: rgba(0, 0, 0, 0.0);
    border: none;
    margin: 0;
    font-size: 26px;
    padding: 7px 0;
    color: var(--white);
    text-decoration: underline;
}

.homePage-button a:hover,
.link-button:hover{
      text-decoration: underline;
      color: rgba(255, 0, 0, 0.502);
}
